<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Send debug messages to a file at "c:/jcg.log" -->
    <!--<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>c:/logs/jh3.log</file>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
        <!--</encoder>-->

        <!--<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
            <!--<FileNamePattern>c:/logs/jh3.%i.log.zip</FileNamePattern>-->
            <!--<MinIndex>1</MinIndex>-->
            <!--<MaxIndex>5</MaxIndex>-->
        <!--</rollingPolicy>-->

        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<MaxFileSize>7MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
    <!--</appender>-->

    <logger name="com.javacodegeeks.examples.logbackexample.beans" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <!--<appender-ref ref="FILE" />-->
    </root>
</configuration>